<div *ngIf="post" class="container container--reverse">
  <div class="column">
    <div class="add-tag">
      <input
        #newTagNameInput
        class="add-tag__input"
        (keyup.enter)="addTag(newTagNameInput.value)"
      >
      <button class="add-tag__button" (click)="addTag(newTagNameInput.value)">+</button>
    </div>
    <app-tag-list [tags]="tags" [(selected)]="post.tags"></app-tag-list>
  </div>
  <div class="column editor">
    <div class="editor__title">
      Title: <input class="editor__title-input" [(ngModel)]="post.title">
    </div>

    <div class="editor__description">
      description:
      <textarea class="editor__description-input" [(ngModel)]="post.description"></textarea>
    </div>

    <app-tag-list [tags]="post.tags" [(selected)]="post.tags"></app-tag-list>

    <button class="editor__submit" *ngIf="isEdit" (click)="setPost()">Save</button>
    <button class="editor__submit" *ngIf="!isEdit" (click)="addPost()">Create</button>
  </div>
</div>



