.container {
  max-width: 1020px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  padding: -20px;

  .column {
    flex-grow: 1;
    flex-basis: 320px;
    margin: 20px;
  }
}
