<div class="sidebar">
  <div class="sidebar__project">
    <select class="sidebar__project-select">
      <option>
        Test project
      </option>
    </select>
  </div>
  <div class="sidebar__project-menu">
    <div class="sidebar__project-menu-item">
      <span class="icon-stats-dots"></span>
      Overview
    </div>
    <div class="sidebar__project-menu-item">
      <span class="icon-book"></span>
      Readme
    </div>
    <div class="sidebar__project-menu-item">
      <span class="icon-file-text"></span>
      Documents
    </div>
    <div class="sidebar__project-menu-item">
      <span class="icon-mobile"></span>
      Devices
    </div>
    <div class="sidebar__project-menu-item">
      <span class="icon-star-empty"></span>
      Tasks
    </div>
    <div class="sidebar__project-menu-item">
      <span class="icon-user"></span>
      Members
    </div>
    <div class="sidebar__project-menu-item sidebar__project-menu-item--active">
      <span class="icon-clock"></span>
      Timejournal
    </div>
  </div>
</div>
