<div class="report-form">
  <div class="report-form__info">
    <p class="report-form__info-text">Reporter: <a href="#">Uladzimir Uakushkin</a></p>
    <p class="report-form__info-text">Position: <a href="#">Senior software developer</a></p>
  </div>
  <div class="report-form__block">
    <p class="report-form__label">Date:</p>
    <input #calendar>
  </div>
  <div class="report-form__block">
    <p class="report-form__label">Effort:</p>
    <input>
    <p class="report-form__description">(eg. 3h 30m)</p>
  </div>
  <div class="report-form__block">
    <p class="report-form__label">Comment:</p>
    <p class="report-form__description">Describe your work</p>
    <img src="https://pp.userapi.com/c831308/v831308266/f4c8e/M_jYRGH1Rd8.jpg" class="report-form__textarea">
  </div>
  <div class="report-form__block">
    <button class="button">Submit</button>
    <button class="button button--cancel">Cancel</button>
  </div>
</div>
