<div class="container">
  <div class="sidebar">
    <app-tag-list [tags]="tags" [(selected)]="selectedTags"></app-tag-list>
  </div>
  <div class="column">
    <ul *ngFor="let post of posts">
      <li class="post">
        <h3 class="post__title">
          {{post.title}}
          <a class="header__link" [routerLink]="'/edit/' + post.id">edit</a>
        </h3>
        <p class="post__description">{{post.description}}</p>
        <app-tag-list [tags]="post.tags" [(selected)]="selectedTags"></app-tag-list>
      </li>
    </ul>
  </div>
</div>
