<div class="container">
  <div class="sidebar">
    Min date: <my-date-picker [ngModel]="minDate" (ngModelChange)="minDateChange($event ? $event.jsdate : null)"></my-date-picker>
    Max date: <my-date-picker [ngModel]="maxDate" (ngModelChange)="maxDateChange($event ? $event.jsdate : null)"></my-date-picker>
    <app-tag-list [tags]="tags" [selected]="selectedTags" (selectedChange)="selectedTagsChange($event)"></app-tag-list>
  </div>
  <div class="column">
    <app-paginator [pageCount]="pageCount" [page]="page" (pageChange)="pageChange($event)"></app-paginator>
    <ul *ngFor="let post of posts">
      <li class="post">
        <h3 class="post__title">
          {{post.title}}
          <a class="header__link" [routerLink]="'/editor/' + post.id">edit</a>
        </h3>
        <p class="post__description">{{post.description}}</p>
        <app-tag-list [tags]="post.tags" [selected]="selectedTags" (selectedChange)="selectedTagsChange($event)"></app-tag-list>
      </li>
    </ul>
  </div>
</div>
