<div class="timejournal-table">
  <div class="timejournal-table__block">
    <button class="button">New report</button>
    <button class="button">New OOO request</button>
  </div>
  <div class="timejournal-table__block">
    <p class="timejournal-table__option-block">
      <span class="timejournal-table__option">
        <span class="icon-radio-checked"></span>
        Current month only
      </span>
      <span class="timejournal-table__option">
        <span class="icon-radio-unchecked"></span>
      Current week only
      </span>
    </p>
    <p class="timejournal-table__option-block">
      <span class="timejournal-table__option">
        <span class="icon-checkbox-checked"></span>
      Selected project only
      </span>

    </p>
  </div>
  <div class="timejournal-table__block">
  <table class="table">
    <thead class="table__head">
      <tr class="table__row">
        <td class="table__head-item">
          Project
          <span class="table__sort-icon icon-arrow-down2"></span>
        </td>
        <td class="table__head-item">
          Type
          <span class="table__sort-icon icon-arrow-down2"></span>
        </td>
        <td class="table__head-item">
          Position
          <span class="table__sort-icon icon-arrow-down2"></span>
        </td>
        <td class="table__head-item">
          Report date
          <span class="table__sort-icon table__sort-icon--active icon-arrow-down2"></span>
        </td>
        <td class="table__head-item">
          Effort
          <span class="table__sort-icon icon-arrow-down2"></span>
        </td>
        <td class="table__head-item">
          Status
          <span class="table__sort-icon icon-arrow-down2"></span>
        </td>
      </tr>
    </thead>
    <tbody>
    <tr class="table__row">
      <td class="table__item">
        Test project
      </td>
      <td class="table__item">
        Work
      </td>
      <td class="table__item">
        Developer
      </td>
      <td class="table__item">
        04/02/2018
      </td>
      <td class="table__item">
        8h
      </td>
      <td class="table__item">
        Approved
      </td>
    </tr>
    <tr class="table__row">
      <td class="table__item">
        Test project
      </td>
      <td class="table__item">
        Work
      </td>
      <td class="table__item">
        Developer
      </td>
      <td class="table__item">
        04/03/2018
      </td>
      <td class="table__item">
        8h
      </td>
      <td class="table__item">
        Approved
      </td>
    </tr>
    <tr class="table__row">
      <td class="table__item">
        Test project
      </td>
      <td class="table__item">
        Work
      </td>
      <td class="table__item">
        Developer
      </td>
      <td class="table__item">
        04/04/2018
      </td>
      <td class="table__item">
        8h
      </td>
      <td class="table__item">
        Approved
      </td>
    </tr>
    <tr class="table__row">
      <td class="table__item">
        Test project
      </td>
      <td class="table__item">
        Work
      </td>
      <td class="table__item">
        Developer
      </td>
      <td class="table__item">
        04/05/2018
      </td>
      <td class="table__item">
        8h
      </td>
      <td class="table__item">
        Approved
      </td>
    </tr>
    <tr class="table__row">
      <td class="table__item">
        Test project
      </td>
      <td class="table__item">
        Work
      </td>
      <td class="table__item">
        Developer
      </td>
      <td class="table__item">
        04/09/2018
      </td>
      <td class="table__item">
        8h
      </td>
      <td class="table__item">
        Approved
      </td>
    </tr>
    <tr class="table__row">
      <td class="table__item">
        Test project
      </td>
      <td class="table__item">
        Work
      </td>
      <td class="table__item">
        Developer
      </td>
      <td class="table__item">
        04/10/2018
      </td>
      <td class="table__item">
        8h
      </td>
      <td class="table__item">
        Approved
      </td>
    </tr>
    <tr class="table__row">
      <td class="table__item">
        Test project
      </td>
      <td class="table__item">
        Work
      </td>
      <td class="table__item">
        Developer
      </td>
      <td class="table__item">
        04/06/2018
      </td>
      <td class="table__item">
        8h
      </td>
      <td class="table__item">
        Pending
      </td>
    </tr>
    </tbody>
  </table>
  </div>
  <div class="timejournal-table__block">
    Page 1 of 1,
    <select>
      <option>20</option>
    </select> items per page
  </div>
</div>
